/.settings
/.project
/.buildpath
/composer.phar
/composer.lock
/vendor
/.idea/.name
/.idea/composer.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml